[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "*"
django-appconf = "*"
django-filter = "*"
django-registration = "*"
djangorestframework = "*"
psycopg2 = "*"
python-dateutil = "*"
pytz = "*"
rcssmin = "*"
rjsmin = "*"
six = "*"
text-unidecode = "*"
confusable_homoglyphs = "*"
Django = "*"
django_compressor = "*"
factory_boy = "*"
Faker = "*"
Markdown = "*"
psycopg2-binary = "*"
channels = "*"
channels-redis = "*"
django-multiselectfield = "*"

[requires]
python_version = "3.7"
